#log_form{
  align-items: center;
  color: black;
  text-align: center;
}
#ttl{
  color: red;
}
.login{
  align-items: center;
  color:red;
}
body{
  background: black;
}
p{
  font-size: 35px;
  font-family: sans-serif;
  color: red;
}
blockquote{
  color: red;
  background: black;
}
main{
  align-items: center;
  background-color: black;
  align-content: center;
  color: green;
}
